* {
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    text-decoration:inherit;
    font-size: 100%;
    padding: 0;
    border: 0;
    margin: 0;
}

table {
    border-collapse: collapse;
}

:focus {
    outline: 0;
}

::-moz-focus-inner {
    border: 0;
}

/* clearfix */
.clear:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    display: block;
}


* html .clear {
    height: 1%;
}

a {
    color: #37e;
    text-decoration: underline;
    text-shadow: 0px 2px 0px #fff;
}

a:hover{
    color: #222;
}

body{
    font-family: "Palatino", "Georgia", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
}

header h1 {
    text-shadow: 0px 2px 0px #efefef;
    display: inline;
}

#container{
    background-color: #fff;
          width: 670px;
         margin: 0 auto;
        padding: 12px;
    line-height: 120%;
-moz-box-shadow: 0px 4px 12px #ccc; /* FF3.5+ */
-webkit-box-shadow: 0px 4px 12px #ccc; /* Saf3.0+, Chrome */
      box-shadow: 0px 4px 12px #ccc; /* Opera 10.5, IE 9.0 */
       behavior: url(media/css/ie-css3.htc);
/*          filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=12px, OffY=12px, Color='#ccc');*/ /* IE6,IE7 */
/*      -ms-filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=12px, OffY=12px, Color='#ccc')";*/ /* IE8 */
}

#main {
    border-bottom: 1px solid #bbb;
}

#footer{
    font-size: 14px;
    text-align: center;
    border-top: 1px solid #ccc;
    margin-top: 1px;
    padding-top: 8px;
    text-shadow: none;
}

#footer a {
    text-decoration: none;
    text-shadow: none;    
}

#footer a:hover {
    background-color: #37e;
    color: #fff;
}

.banner{
    border-bottom: 12px solid #222;
    padding: 0 12px;
    position: relative;
}

.banner h1{
    font-weight: 100;
    font-size: 32px;
    line-height: 48px;
}


.banner h3{
    color: #666;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 12px;
}

section.content{
    padding: 12px;
    padding-top: 24px;
}

/* Content */
h1 a, h2 a, h3 a{
    text-decoration: none;
}

#facebook_like{
    margin-top: 1px;
}

div.project-container {
    padding: 0px;
}

div.project-description a {
  font-weight: bold;
  color: black;
  text-decoration: none;
}

div.project-description a:hover {
  text-decoration: underline;
}

div.project-container img {
	float: left;
    margin-right: 2px;
}

div.lang-selector {
    clear:both;    
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

a.switch-lang {
    text-shadow: none;
    text-decoration: none;
    padding-left: 2px;
    padding-right: 2px;
}

a.switch-lang:hover {
    background-color: #37e;
    color: #fff;    
}
